* {
    box-sizing: border-box
}

#banner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
}

#banner > h1 {
    text-align: left
}

#header-list{
    text-align: right;
    list-style: none;
}